@import "normalize.css";

html {
  box-sizing: border-box;
  font-size: 15px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
#react-root {
  height: 100%;
}
body {
  background: #15202b;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow-y: scroll;
}
#modal:empty {
  display: none;
}
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(110, 118, 125, 0.4);
}
#react-root,
.home {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
}
.splash-icon {
  align-self: center;
  color: #1da1f2;
  height: 70px;
  width: 70px;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.col {
  display: flex;
  flex-flow: column nowrap;
}
main {
  flex: 1 1 0%;
}
.col-1-2 {
  flex: 0 0 100%;
  padding: 15px;
}
.col-1-2-l {
  order: 1;
  background: #1da1f2;
}
.benefits-panel {
  max-width: 380px;
}
.benefits-panel ul {
  padding: 0px;
  list-style-type: none;
}
.benefits-panel ul li {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: 700;
  word-wrap: break-word;
}
.benefits-panel li svg {
  fill: white;
  margin-right: 15px;
  width: 27.5px;
  height: 27.5px;
}
.benefits-panel p {
  margin: 0;
}
.auth-option-panel {
  max-width: 380px;
  flex: 0 0 auto;
}
.auth-option-panel .fa-twitter {
  height: 40px;
  width: 40px;
}
.auth-option-panel .heading {
  overflow-wrap: break-word;
  margin-top: 20px;
}
.auth-option-panel p {
  margin-top: 59px;
  margin-bottom: 15px;
  font-weight: 700;
}
.auth-option-panel .btn {
  width: 100%;
  margin-bottom: 15px;
}
.mini-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 0px;
  padding: 0px 15px;
}
.mini-login .input-group {
  flex: 0 0 33%;
  margin-right: 10px;
  align-self: center;
}
.login-form-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
.login-form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0px auto;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
}
.login-form a {
  color: #1b95e0;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.login-form a:hover {
  text-decoration: underline;
}
.login-form svg {
  align-self: center;
  height: 39px;
  width: 37px;
}
.login-form h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.login-form .input-group {
  max-width: none;
  margin-bottom: 2rem;
}
.login-form .btn {
  min-height: 47px;
}
.signup-form {
  background-color: #15202b;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 600px;
  min-height: 400px;
  height: 650px;
  max-width: 80vw;
  max-height: 90vh;
  border-radius: 20px;
}
.signup-form .btn {
  min-height: 30px;
}
.signup-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 53px;
  padding-left: 15px;
  padding-right: 15px;
}
.signup-form svg {
  min-width: 30px;
  height: 1.75rem;
}
.signup-form-steps {
  margin-left: 30px;
  margin-right: 30px;
}
.signup-form h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.signup-form .input-group {
  max-width: none;
  margin-bottom: 2rem;
}
.new-tweet {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 15px;
}
.new-tweet-l {
  flex-basis: 49px;
  margin-right: 10px;
}
.new-tweet-r {
  flex-basis: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-form {
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-editor {
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-editor textarea {
  border: none;
  background: #15202b;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3125;
  resize: none;
  overflow-y: scroll;
}
.new-tweet-editor textarea::placeholder {
  color: #8899a6;
}
.new-tweet-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  border-top: 1px solid #38444d;
}
.new-tweet svg {
  height: 1.5em;
  width: 1.5em;
}
.new-tweet-footer > label {
  min-width: 39px;
  min-height: 39px;
  margin-top: 10px;
}
.new-tweet-footer > input {
  display: none;
}
.new-tweet-footer > .btn {
  margin-top: 10px;
}
.input-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 300px;
  background: #192734;
  border-radius: 3px;
}
.input-group label {
  display: inline-block;
  color: #8899a6;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px;
  text-overflow: ellipsis;
}
.input-group label:focus-within {
  color: #1da1f2;
}
.input-group input {
  background-color: inherit;
  width: 100%;
  caret-color: #fff;
  color: #fff;
  border: none;
  border-bottom: 2px solid #8899a6;
  padding: 2px 10px 5px 10px;
}
.input-group input:invalid {
  box-shadow: none;
  border-color: #e0245e;
}
.input-group input:focus {
  outline: none;
  border-color: #1da1f2;
}
.btn {
  cursor: pointer;
  background-color: #15202b;
  color: #1da1f2;
  text-decoration: none;
  border: 1px solid #1da1f2;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 9999px;
  min-height: 40px;
  font-weight: 700;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.btn:hover,
.btn:focus {
  background-color: rgba(29, 161, 242, 0.1);
}
.btn:focus {
  outline: none;
  box-shadow: #8ed0f9 0px 0px 0px 2px;
}
.btn:visited {
  text-decoration: none;
}
.btn--blue {
  background-color: #1da1f2;
  color: white;
}
.btn--blue:hover,
.btn--blue:focus {
  background-color: #1a91da;
}
.btn--blue:focus {
  outline: none;
  box-shadow: #8ed0f9 0px 0px 0px 2px;
}
.btn--blue:disabled {
  border: none;
  background-color: #19618f;
  color: #4f7792;
}
.btn--icon {
  padding: 0;
  border: 0;
  fill: #1da1f2;
}
.btn--back:hover,
.btn--bacl:focus {
  background-color: rgba(29, 161, 242, 0.1);
}
.btn-wrapper {
  display: flex;
  flex-basis: 50%;
}
footer {
  display: flex;
  color: #8899a6;
  justify-content: center;
}
footer a,
footer a:visited {
  color: #8899a6;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
  outline: none;
}

/*Utility Classes*/
.mb-15 {
  margin-bottom: 15px;
}
.p-r {
  position: relative;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.as-c {
  align-self: center;
}
.full-height {
  height: 100%;
}
/*Media Queries*/
@media screen and (max-width: 1000px), screen and (max-height: 660px) {
  .mini-login {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  [class*="col-1-2-"] {
    flex: 0 0 50%;
    order: 0;
  }
}

@media screen and (max-width: 700px), screen and (max-height: 500px) {
  #modal {
    justify-content: unset;
    align-items: unset;
  }
  .signup-form {
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
}
