@import "normalize.css";

html {
  box-sizing: border-box;
  font-size: 15px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
#react-root {
  height: 100%;
}
body {
  background: #15202b;
  color: #fff;
  line-height: 1.3125;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow-y: scroll;
  scrollbar-color: rgb(107, 125, 140) rgb(25, 39, 52);
}
#modal:empty {
  display: none;
}
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(110, 118, 125, 0.4);
}
#react-root,
.home {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
}
.splash-icon {
  align-self: center;
  color: #1da1f2;
  height: 70px;
  width: 70px;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.col {
  display: flex;
  flex-flow: column nowrap;
}
.main-screen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.sidebar {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.sidebar-header-wrapper {
  width: 275px;
  position: relative;
}
.sidebar-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0px 10px;
  position: fixed;
}
.sidebar-header > a {
  padding: 10px;
}
.sidebar svg {
  height: 2rem;
  color: #fff;
}
.main-screen-content {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
}
.main-screen-content > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 990px;
  height: 100%;
}
.main-screen-router {
  max-width: 600px;
  border: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #38444d;
  width: 100%;
  height: 100%;
}
.sidebar-right {
  width: 350px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  padding-top: 10px;
  margin-right: 10px;
}
.sidebar-right .search-input {
  height: 44px;
  margin-bottom: 10px;
}
.user-home,
.profile,
.explore,
.bookmarks {
  display: flex;
  flex-flow: column nowrap;
}
.user-home-header,
.profile-header,
.explore-header,
.bookmarks-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #38444d;
  padding: 0px 15px;
  height: 53px;
  background: #15202b;
  position: sticky;
  top: 0;
}
.user-home h2 {
  margin: 0;
  font-size: 19px;
  font-weight: 800;
}
.profile-header .btn-wrapper,
.edit-profile-header .btn-wrapper {
  min-width: 59px;
  min-height: 30px;
}
.profile-header .btn-wrapper a,
.edit-profile-header .btn-wrapper a {
  height: 1.5rem;
  width: 1.5rem;
}
.profile-header svg,
.edit-profile-header svg {
  height: 1.5rem;
  width: 1.5rem;
}
.profile-header-content {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.profile-header-content h2,
.profile-header-content p {
  margin: 0;
}
.profile-header-content h2 {
  font-weight: 800;
  font-size: 19px;
}
.profile-header-content p {
  font-size: 13px;
  color: #8899a6;
}
.profile-header-content a {
  width: 39px;
  height: 39px;
}
.profile-content {
  display: flex;
  flex-flow: column nowrap;
}
.profile-user {
  padding: 10px 15px 30px 15px;
  border-bottom: 1px solid #38444d;
}
.profile .row {
  justify-content: space-between;
  align-items: center;
}
.profile-user .avatar {
  border: 4px solid #15202b;
  margin-top: -18%;
  width: 25%;
}
.profile-user-info {
  display: flex;
  flex-flow: column wrap;
}
.profile-user-name {
  margin: 0px;
  font-size: 19px;
  font-weight: 800;
}
.profile-user-handle {
  margin: 0px;
  margin-bottom: 10px;
  color: #8899a6;
  font-size: 15px;
  font-weight: 400;
}
.profile-user-bio {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}
.profile-user-info-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  margin-bottom: 10px;
}
.profile-user-info-list li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #8899a6;
  line-height: 1.3125;
}
.profile-user-info-list li svg {
  margin-right: 5px;
  height: 1.25em;
  fill: currentColor;
}
.profile-user-website a {
  color: rgb(29, 161, 242);
  text-decoration: none;
}
.profile-user-website a:hover,
.profile-user-website a:focus {
  text-decoration: underline;
}
.profile-user-follow-info {
  display: flex;
  color: #8899a6;
}
.profile-user-follow-info > span {
  margin-right: 20px;
}
.profile-user-follow-info .count {
  color: #fff;
  font-weight: 700;
}
.edit-profile-form {
  display: flex;
  flex-flow: column nowrap;
  background: #15202b;
  overflow: hidden;
  min-width: 600px;
  min-height: 400px;
  height: 650px;
  max-width: 80vw;
  max-height: 90vh;
  border-radius: 16px;
  font-size: 19px;
}
.edit-profile-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 53px;
  padding: 0px 15px;
  border-bottom: 1px solid #38444d;
}
.edit-profile-header h2 {
  font-size: 19px;
  font-weight: 800;
  flex-grow: 1;
}
.edit-profile-header button {
  min-height: 30px;
}
.edit-profile-content {
  display: flex;
  flex-flow: column;
  overflow: auto;
  max-width: 600px;
}
.edit-profile-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 59px;
}
.avatar-upload-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 25%;
  max-width: 8rem;
  margin-top: -3rem;
  margin-left: 1rem;
  position: relative;
}
.avatar-upload-wrapper .upload-overlay {
  border-radius: 9999px;
}
.banner-upload-wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.edit-profile-content .avatar {
  border: 4px solid #15202b;
}
.edit-profile-content .input-wrapper {
  padding: 10px 15px;
}
.edit-profile-content textarea {
  height: 88px;
}
.upload-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.upload-group {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.upload-group svg {
  height: 1.5em;
  width: 1.5em;
}
.upload-group > input {
  display: none;
}
[class*="explore-search-result"] {
  display: flex;
  flex-flow: column nowrap;
}
.explore-search-result-alt,
.bookmarks-content-wrapper {
  justify-content: center;
  align-items: center;
  padding: 39px 20px;
}
.explore-search-result-alt h2,
.bookmarks-content-wrapper h2 {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}
.explore-search-result-alt p,
.bookmarks-content-wrapper p {
  margin: 0;
  color: #8899a6;
}
.bookmarks-header-content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-evenly;
}
.bookmarks-header h2,
.bookmarks-header p {
  margin: 0;
}
.bookmarks-header-content h2 {
  font-weight: 800;
  font-size: 19px;
}
.bookmarks-header-content p {
  font-size: 13px;
  color: #8899a6;
}
.bookmarks-content {
  display: flex;
  flex-flow: column nowrap;
}
.bookmarks-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.search-input {
  display: flex;
  background: #253341;
  width: 100%;
  border-radius: 9999px;
  align-items: center;
}
.search-input input:focus {
  outline: none;
}
.search-input:focus-within {
  background: #15202b;
  border: 1px solid #1da1f2;
}
.search-input:focus-within svg {
  fill: #1da1f2;
}
.search-input:focus-within input {
  background: #15202b;
}
.search-input input {
  width: 90%;
  border: none;
  caret-color: #fff;
  color: #fff;
  background: #253341;
  padding: 5px 10px;
}
.search-input input::placeholder {
  color: #8899a6;
}
.search-input svg {
  height: 1.25em;
  padding-left: 10px;
  fill: #8899a6;
}
main {
  flex: 1 1 0%;
}
.col-1-2 {
  flex: 0 0 100%;
  padding: 15px;
}
.col-1-2-l {
  order: 1;
  background: #1da1f2;
}
.benefits-panel {
  max-width: 380px;
}
.benefits-panel ul {
  padding: 0px;
  list-style-type: none;
}
.benefits-panel ul li {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: 700;
  word-wrap: break-word;
}
.benefits-panel li svg {
  fill: white;
  margin-right: 15px;
  width: 27.5px;
  height: 27.5px;
}
.benefits-panel p {
  margin: 0;
}
.auth-option-panel {
  max-width: 380px;
  flex: 0 0 auto;
}
.auth-option-panel .fa-twitter {
  height: 40px;
  width: 40px;
}
.auth-option-panel .heading {
  overflow-wrap: break-word;
  margin-top: 20px;
}
.auth-option-panel p {
  margin-top: 59px;
  margin-bottom: 15px;
  font-weight: 700;
}
.auth-option-panel .btn {
  width: 100%;
  margin-bottom: 15px;
}
.mini-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 0px;
  padding: 0px 15px;
}
.mini-login .input-group {
  flex: 0 0 33%;
  margin-right: 10px;
  align-self: center;
}
.login-form-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
.login-form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0px auto;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
}
.login-form a {
  color: #1b95e0;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.login-form a:hover {
  text-decoration: underline;
}
.login-form svg {
  align-self: center;
  height: 39px;
  width: 37px;
}
.login-form h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.login-form .error-wrapper {
  margin-bottom: 10px;
}
.signup-form .error-wrapper {
  padding: 0px 5px;
  font-size: 13px;
  line-height: 20px;
}
.error {
  color: #e0245e;
}
.login-form .input-wrapper {
  padding: 0px 10px;
  margin-bottom: 2rem;
}
.login-form .btn {
  min-height: 47px;
}
.signup-form {
  background-color: #15202b;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 600px;
  min-height: 400px;
  height: 650px;
  max-width: 80vw;
  max-height: 90vh;
  border-radius: 20px;
}
.signup-form .btn {
  min-height: 30px;
}
.signup-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 53px;
  padding-left: 15px;
  padding-right: 15px;
}
.signup-form svg {
  min-width: 30px;
  height: 1.75rem;
}
.signup-form-steps {
  margin-left: 30px;
  margin-right: 30px;
}
.signup-form h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.signup-form .input-wrapper {
  margin-bottom: 2rem;
}
.tweet {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 15px;
  border-bottom: 1px solid #38444d;
}
.tweet-l {
  flex-basis: 49px;
  margin-right: 10px;
}
.tweet-r {
  flex-basis: 100%;
}
.tweet-author a,
.user-card a,
.user-card-full a {
  text-decoration: none;
}
.tweet-author-name,
.user-card-name {
  color: #fff;
  font-weight: 700;
}
.tweet-author-name:hover,
.user-card-name:hover {
  text-decoration: underline;
}
.tweet-author-handle {
  margin-left: 5px;
  color: #8899a6;
}
.tweet-text {
  margin: 0;
  white-space: break-spaces;
}
.tweet-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tweet-actions .btn {
  min-width: 39px;
  min-height: 39px;
}
.tweet-actions svg {
  fill: #8899a6;
  height: 1.25rem;
  width: 1.25rem;
}
.tweet-actions .btn:hover > svg {
  fill: #1da1f2;
}
.tweet-actions .btn--icon--green:hover > svg {
  fill: #17bf63;
}
.tweet-actions .btn--icon--red:hover > svg {
  fill: #e0245e;
}
.new-tweet {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 15px;
}
.new-tweet-l {
  flex-basis: 49px;
  margin-right: 10px;
}
.new-tweet-r {
  flex-basis: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-form {
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-editor {
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet-editor textarea {
  padding-top: 10px;
  background: #15202b;
  border: none;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3125;
  resize: none;
  overflow-y: scroll;
}
.new-tweet-editor textarea:focus {
  outline: none;
  border-bottom: 1px solid #38444d;
}
.new-tweet-editor textarea::placeholder {
  color: #8899a6;
}
.new-tweet-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 49px;
}
.new-tweet svg {
  height: 1.5em;
  width: 1.5em;
}
.new-tweet-footer > label {
  min-width: 39px;
  min-height: 39px;
  margin-top: 10px;
}
.new-tweet-footer > input {
  display: none;
}
.new-tweet-footer > .btn {
  margin-top: 10px;
}
.who-to-follow {
  display: flex;
  flex-flow: column nowrap;
  background: #192734;
  border-radius: 16px;
}
.who-to-follow-header {
  padding: 10px 15px;
  border-bottom: 1px solid #38444d;
}
.who-to-follow-header h2 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}
.who-to-follow-content {
  display: flex;
  flex-flow: column nowrap;
}
.who-to-follow-footer {
  padding: 15px 15px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.who-to-follow-footer:hover {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.who-to-follow-footer a {
  text-decoration: none;
  color: #1da1f2;
}
.user-card,
.user-card-full {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #38444d;
  cursor: pointer;
}
.user-card,
.user-card-full,
.who-to-follow-footer,
.tweet {
  transition-duration: 0.2s;
  transition-property: background;
}
.user-card:hover,
.user-card-full:hover,
.who-to-follow-footer:hover,
.tweet:hover {
  background: rgb(255, 255, 255, 0.03);
}
.user-card-c,
.user-card-full-c {
  display: flex;
  flex-flow: column nowrap;
}
.user-card-handle {
  color: #8899a6;
}
.user-card-l .avatar img,
.new-tweet-l .avatar img,
.tweet-l .avatar img {
  height: 49px;
  width: auto;
}
.user-card-r .btn {
  background: #192734;
  min-height: 30px;
}
.user-card-full {
  justify-content: stretch;
}
.user-card-full-l {
  flex-basis: 49px;
  margin-right: 10px;
}
.user-card-full-c {
  flex-grow: 1;
}
.user-card-full-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-card-full-header .btn {
  min-height: 30px;
}
.user-card-full-author {
  display: flex;
  flex-flow: column wrap;
}
.user-card-full-bio {
  padding-top: 5px;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  border-radius: 9999px;
  transition-duration: 0.2s;
  transition-property: background;
}
nav li:hover {
  background: rgb(29, 161, 242, 0.1);
}
nav li:hover a,
.active {
  color: #1da1f2;
}
nav li:hover svg,
.active svg {
  fill: #1da1f2;
}
nav li a {
  display: flex;
  padding: 10px;
  align-items: center;
}
nav svg {
  height: 1.75em;
  fill: #fff;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a span {
  margin: 0px 15px 0px 20px;
  font-weight: 700;
  font-size: 19px;
}
.input-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background: #15202b;
  border-radius: 4px;
  padding-bottom: 5px;
  border: 1px solid #3d5466;
}
.input-group label {
  display: inline-block;
  color: #8899a6;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 13px;
  text-overflow: ellipsis;
}
.input-group:focus-within label {
  color: #1da1f2;
}
.input-group input,
.input-group textarea {
  background-color: inherit;
  width: 100%;
  caret-color: #fff;
  color: #fff;
  border: none;
  outline: none;
  padding: 2px 10px 0px 10px;
}
.input-group input:invalid {
  box-shadow: none;
}
.input-group:focus-within {
  box-shadow: #1da1f2 0px 0px 0px 1px;
  border-color: #1da1f2;
}
.input-group textarea:focus {
  outline: none;
  border-color: #1da1f2;
}
.input-group-invalid label,
.input-group-invalid:focus-within label {
  color: #e0245e;
}
.input-group-invalid,
.input-group-invalid:focus-within {
  box-shadow: #e0245e 0px 0px 0px 1px;
  border-color: #e0245e;
}
.btn {
  cursor: pointer;
  background: inherit;
  color: #1da1f2;
  text-decoration: none;
  border: 1px solid #1da1f2;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 9999px;
  min-height: 40px;
  min-width: 40px;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.btn:hover,
.btn:focus {
  background-color: rgba(29, 161, 242, 0.1);
}
.btn:focus {
  outline: none;
  box-shadow: #8ed0f9 0px 0px 0px 2px;
}
.btn:visited {
  text-decoration: none;
}
.btn--blue {
  background-color: #1da1f2;
  color: white;
}
.btn--blue:hover,
.btn--blue:focus {
  background-color: #1a91da;
}
.btn--blue:focus {
  outline: none;
  box-shadow: #8ed0f9 0px 0px 0px 2px;
}
.btn--blue:disabled {
  border: none;
  background-color: #19618f;
  color: #4f7792;
}
.btn--icon {
  padding: 0;
  border: 0;
  fill: #1da1f2;
}
.btn--icon--white {
  fill: #fff;
}
.btn--icon--white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn--icon--green:hover {
  background-color: rgba(23, 191, 99, 0.4);
}
.btn--icon--red:hover {
  background-color: rgba(224, 36, 94, 0.4);
}
.btn--back:hover,
.btn--back:focus {
  background-color: rgba(29, 161, 242, 0.1);
}
.signup-header .btn-wrapper {
  display: flex;
  flex-basis: 50%;
}
.seperator {
  height: 10px;
  border-top: 1px solid #38444d;
  border-bottom: 1px solid #38444d;
  background: #192734;
}
.spinner-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 26px;
  height: 26px;
  animation-name: rotate;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar {
  border-radius: 50%;
  display: flex;
}
.avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner {
  display: flex;
  background-color: #3d5466;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer {
  display: flex;
  color: #8899a6;
  justify-content: center;
}
footer a,
footer a:visited {
  color: #8899a6;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
  outline: none;
}

/*Utility Classes*/
.mb-15 {
  margin-bottom: 15px;
}
.p-r {
  position: relative;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.as-c {
  align-self: center;
}
.full-height {
  height: 100%;
}
/*Media Queries*/
@media screen and (max-width: 1000px), screen and (max-height: 660px) {
  .mini-login {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  [class*="col-1-2-"] {
    flex: 0 0 50%;
    order: 0;
  }
}

@media screen and (max-width: 700px), screen and (max-height: 500px) {
  #modal {
    justify-content: unset;
    align-items: unset;
  }
  .signup-form,
  .edit-profile-form {
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  .edit-profile-content {
    align-items: center;
    max-width: unset;
  }
}

@media screen and (max-width: 1275px) {
  .sidebar nav span {
    display: none;
  }
  .sidebar-header-wrapper {
    width: 88px;
  }
  .sidebar-header,
  nav ul {
    align-items: center;
  }
}

@media screen and (max-width: 1090px) {
  .main-screen-content > div:first-child {
    width: 920px;
  }
  .sidebar-right {
    width: 290px;
  }
  .sidebar-header-wrapper {
    width: 68px;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar-right {
    display: none;
  }
  .main-screen-content {
    flex-grow: 2;
  }
  .main-screen-content > div:first-child {
    width: 600px;
  }
  .sidebar-header-wrapper {
    width: 88px;
  }
}

@media screen and (max-width: 700px) {
  .main-screen-content {
    width: 100%;
  }
  .main-screen-content > div:first-child {
    width: 100%;
  }
  .sidebar-header-wrapper {
    width: 68px;
  }
}

@media screen and (max-width: 500px) {
  .main-screen {
    flex-flow: column nowrap;
  }
  .sidebar {
    display: flex;
    order: 1;
    bottom: 0;
    position: sticky;
    flex: 0 1 auto;
    background: #15202b;
  }
  .sidebar-header-wrapper {
    width: 100%;
  }
  .sidebar-header {
    border-top: 1px solid #38444d;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .sidebar-header > a {
    display: none;
  }
  .sidebar-header nav ul {
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
  }
  .main-screen-router {
    border: 0;
  }
}
